:root {
   
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
background-color: #0c2546;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(220, 223, 226);
}

.output{
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
}

.selector{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
     align-items: center;
      margin-bottom: 20px;
}



